.main-form {
  text-align: left;
}

.form-check {
  width: 5em;
  display: inline;
}

#separator {
  width: 3em;
  display: inline;
  text-align: center;
}

#concurrentConnections {
  width: 5em;
  text-align: center;
}

.help-tip {
  display: inline;
  text-align: center;
  background-color: #1176a1;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
  color: #fff;
}
